<a href="https://colab.research.google.com/github/sebysebastian13/python-lab/blob/main/python_cycle2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Display future leap years from current year to a final year entered by user.
s=int(input("enter starting year: "))
e=int(input("enter ending year: "))
print("leap years between",s,"and",e)
while (s<=e):
    if ((s%400==0) or ((s%4==0) and (s%100!=0))):
      print(s)
    s=s+1

enter starting year: 2000
enter ending year: 2020
leap years between 2000 and 2020
2000
2004
2008
2012
2016
2020

In [ ]:
#Generate positive list of numbers from a given list of integers
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
y=[num for num in x if num >= 0]
print("initial list of integers is :",x) 
print("modified list of positive numbers is :",y)

enter list items : 3
enter the value of 1 item : -3
enter the value of 2 item : -2
enter the value of 3 item : 1
initial list of integers is : [-3, -2, 1]
modified list of positive numbers is : [1]

In [ ]:
#Square of N numbers
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
b=(num**2 for num in x)
print("initial list of N numbers :",x)
y=list(b)
print("square list of N numbers :",y)

enter list items : 3
enter the value of 1 item : 1
enter the value of 2 item : 4
enter the value of 3 item : 7
initial list of N numbers : [1, 4, 7]
square list of N numbers : [1, 16, 49]

In [ ]:
#Form a list of vowels selected from a given word
w=input("enter any word : ")
v=[l for l in w if l in 'aeiou' ]
print("list of vowels in",w," :",v)

enter any word : helloo
list of vowels in helloo  : ['e', 'o', 'o']

In [ ]:
#List ordinal value of each element of a word (Hint: use ord() to get ordinal values)
w=input("enter any word : ")
for l in range(len(w)) :
  print("ASCII value is",w[l],"is",ord(w[l]))

enter any word : qwerty
ASCII value is q is 113
ASCII value is w is 119
ASCII value is e is 101
ASCII value is r is 114
ASCII value is t is 116
ASCII value is y is 121

In [ ]:
#Count the occurrences of each word in a line of text.
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
    return counts
str=input("enter any text :")
print(word_count(str))

enter any text :hello good morning
{'hello': 1, 'good': 1, 'morning': 1}

In [ ]:
#Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)
6

enter any integers :3
100
101
4
modified list : [100, 'over', 4]

In [ ]:
#Accept the radius from user and find area of circle.
r=int(input("enter the radius of the circle :"))
print("area of the circle is :",3.14*r*r)

enter the radius of the circle :5
area of the circle is : 78.5

In [ ]:
#Find biggest of 3 numbers entered.
a = float(input("enter the first value : "))
b = float(input("enter the second value : "))
c = float(input("enter the third value : "))
if (a > b and a > c):
  print(a,"is bigger than both",b,"and",c)
elif (b > a and b > c):
  print(b,"is bigger than both",a,"and",c)
elif (c > a and c > b):
  print(c,"is bigger than both",a,"and",b)
else:
  print("either any two values or all the three values are equal")

enter the first value : 12
enter the second value : 5
enter the third value : 10
12.0 is bigger than both 5.0 and 10.0

In [ ]:
#Accept a file name from user and print extension of that.
f=input("enter any filename : ")
x=f.split(".")
print("extension of file is",x[-1])

enter any filename : qwert.avi
extension of file is avi

In [ ]:
#Create a string from given string where first and last characters exchanged. [eg: python -
#> nythop]
def change(str):
      return str[-1:] + str[1:-1] + str[:1]
str=input("enter any string : ")
print("modified string : ",change(str))

enter any string : python
modified string :  nythop

In [ ]:
#Merge two dictionaries.
k1=input("enter first key : ")
k2=input("enter second key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
dict1={}
dict2={}
dict1[k1]=v1
dict2[k2]=v2
def merge_dictionaries(x,y):
  z = {**x,**y}
  print("merged dictionary is : ")
  return z
print(merge_dictionaries(dict1,dict2))

enter first key : hai
enter second key : hello
enter first value : super
enter second value : nice
merged dictionary is :
{'hai': 'super', 'hello': 'nice'}

In [ ]:
#Find gcd of 2 numbers.
n1=float(input("enter the first value : "))
n2=float(input("enter the second value : "))
x=n1
y=n2
while (n2 != 0):
  temp=n2
  n2=n1%n2
  n1=temp
gcd=n1   
print("GCD of",x,"and",y,"is",gcd)

enter the first value : 10
enter the second value : 20
GCD of 10.0 and 20.0 is 10.0

In [ ]:
#From a list of integers, create a list removing even numbers
x=[]
n=int(input("enter list items : "))
for i in range(1,n+1):
    a=int(input("enter the value of %d item : "%i))
    x.append(a)
for i  in x:
  if (i%2 == 0):
    x.remove(i)
print("modified list after removing even numbers :")
print(x)

enter list items : 3
enter the value of 1 item : 2
enter the value of 2 item : 5
enter the value of 3 item : 7
modified list after removing even numbers :
[5, 7]

In [ ]:
#store a list of first names.count the occurences of "a" within the list
name = input("enter the names")
list = []
count = 0
for x in name:
   list.append(x)
   if (x in name and x == 'a'):
      count = count + 1
print(count)

enter the namesabcda
2

In [3]:
#enter two list of integers
#a)check whether list are of same length
#b)whether lists sums to the same value
#c)whether any value occure in both

x=[]
a=int(input("enter limit for list1 : "))
for i in range(1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("enter limit for list2 : "))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if (len(x)==len(y)):
  print("list1 and list2 are of same length i.e.",len(x))
else:
  print("list1 and list2 are of different length.")
if (sum(x)==sum(y)):
  print("list1 and list2 sums to the same value i.e.",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y): 
    p=set(x) 
    q=set(y) 
    if len(p.intersection(q)) > 0: 
        return(p.intersection(q))   
    else: 
        return("no common elements")  
print("value that occur in both lists is/are :",common(x,y))

enter limit for list1 : 4
1
6
7
3
[1, 6, 7, 3]
enter limit for list2 : 4
8
3
5
1
[8, 3, 5, 1]
list1 and list2 are of same length i.e. 4
list1 and list2 sums to the same value i.e. 17
value that occur in both lists is/are : {1, 3}

In [5]:
# Get a string from an input string where all occurrences of first character replaced with
#‘$’, except first character.
#[eg: onion -> oni$n]

str=input("enter any string : ")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char, '$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

enter any string : onion
oni$n

In [7]:
#Create a list of colors from comma-separated color names entered by user.Display
 #first and last colors.
c=[]
x=int(input("enter limit for list : "))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

enter limit for list : 4
black
blue
green
yellow
['black', 'blue', 'green', 'yellow']
black yellow

In [8]:
#Print out all colors from color-list1 not contained in color-list2.
c1=[]
x=int(input("enter limit for list1 :"))
for i in range(1,x+1):
  a=input()
  c1.append(a)
  p=set(c1)
print(p)
c2=[]
y=int(input("enter limit for list2 : "))
for i in range(1,y+1):
  b=input()
  c2.append(b)
  q=set(c2)
print(q)
print(p.difference(q))

enter limit for list1 :3
green
white
orange
{'orange', 'white', 'green'}
enter limit for list2 : 4
white
blue
orange
yellow
{'orange', 'blue', 'yellow', 'white'}
{'green'}

In [10]:
#Accept an integer n and compute n+nn+nnn.

a=int(input("enter any integer : "))
n1=int("%s" %a)
n2=int("%s%s" %(a,a))
n3=int("%s%s%s" %(a,a,a))
print("value of n+nn+nnn is : ",n1+n2+n3)

enter any integer : 1
value of n+nn+nnn is :  123

In [12]:
# Create a single string separated with space from two strings by swapping the
# character at position 1.
def chars_mix_up(a, b):
  new_a = b[:2] + a[2:]
  new_b = a[:2] + b[2:]

  return new_a + ' ' + new_b
print(chars_mix_up('hello', 'welcome'))

wello helcome

In [14]:
#Sort dictionary in ascending and descending order. 

k1=input("enter first key : ")
k2=input("enter second key : ")
k3=input("enter third key : ")
k4=input("enter fourth key : ")
k5=input("enter fifth key : ")
v1=input("enter first value : ")
v2=input("enter second value : ")
v3=input("enter third value : ")
v4=input("enter fourth value : ")
v5=input("enter fifth value : ")
d={}
d[k1]=v1
d[k2]=v2
d[k3]=v3
d[k4]=v4
d[k5]=v5
l=list(d.items())   
l.sort() 
print("ascending order is : ",l)
l=list(d.items())
l.sort(reverse = True)
print("descending order is : ",l)

enter first key : 1
enter second key : 2
enter third key : 3
enter fourth key : 4
enter fifth key : 5
enter first value : qwe
enter second value : zxc
enter third value : jhg
enter fourth value : ytr
enter fifth value : mnb
ascending order is :  [('1', 'qwe'), ('2', 'zxc'), ('3', 'jhg'), ('4', 'ytr'), ('5', 'mnb')]
descending order is :  [('5', 'mnb'), ('4', 'ytr'), ('3', 'jhg'), ('2', 'zxc'), ('1', 'qwe')]